<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Joseph Acosta - Projects</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/images/font-awesome-4.4.0/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="teal lighten-2 z-depth-0" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="about" class="brand-logo">JRA</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="about">About Me</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Experience</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="about">About Me</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Experience</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js"></script>
<script src="../static/js/init.js"></script>

</body>
</html>